body {
    font-family: Arial, sans-serif;
}

.contents {
    margin: 200px auto auto;
}

td.centered {
    text-align: center;
}

div.entities {
    float: left;
    border: 1px solid orange;
    padding: 2px;
}

table.grid {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.grid td {
    border: 1px solid gray;
    padding: 2px;
}

table.grid thead {
    background: #87cefa;
}

a.button {
    background: gray;
    color: white;
    float: right;
}

a.button:hover {

}