body {
    font-family: Arial, sans-serif;
}

.contents {
    margin: 200px auto auto;
}

td.centered {
    text-align: center;
}

div.entities {
    float: left;
    border: 1px solid orange;
    padding: 2px;
}

table.grid {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.grid td {
    border: 1px solid gray;
    padding: 2px;
}

table.grid thead {
    background: #87cefa;
}

a.button {
    background: gray;
    color: white;
    float: right;
}

a.button:hover {
}

.user .fullName,
.task .title,
.project .title {
    margin: 0;
}

.user .username,
.user .admin,
.user .disabled,
.task .project,
.task .assignee,
.task .description,
.project .code,
.project .description {
    margin: 0;
    padding-left: 30px;
}

.user .admin,
.user .disabled,
.task .description,
.project .description {
    font-style: italic;
}
